
<div class="header">
    <!-- Images En-tête -->
    <!--<img src="images/menuGauche.gif"	alt="Choisir" title="Choisir"/>-->
    <img src="images/lafleur.gif"	alt="Lafleur" title="Lafleur"/>
</div>
<!--  Menu haut-->
<ul class="navbar ul">
    <li><a href="/"> Accueil </a></li>
    <li><a href="/voirProduits"> Voir le catalogue de fleurs </a></li>
    <li><a href="#"> Voir son panier </a></li>
    <li><a href="#"> Administrer </a></li>
</ul>

<div class="flexrow">
