<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
       <!-- ce meta tags est nécessaire pour faire du responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- lien CSS-->
    <link href="cssGeneral.css" rel="stylesheet" type="text/css">
    <!-- lien css des pages -->
    <link href="cssProduits.css" rel="stylesheet" type="text/css">
    <link href="cssCommande.css" rel="stylesheet" type="text/css">
    <link href="cssPanier.css" rel="stylesheet" type="text/css">
    <link href="cssNavigation.css" rel="stylesheet" type="text/css">
    
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <title>Lafleur</title>
    

</head>
<body>
<div class="container">

<%- body %>

</div>
</body>
</html>
